# Format: postgresql://<user>:<password>@<host>:<port>/<database>
DATABASE_URL=

# OpenAI API key for accessing the OpenAI API
GROQ_API_KEY=
GROQ_MODEL=

#JWT secret key for signing and verifying JWT tokens
JWT_SECRET_KEY=

#Google OAuth 2.0 Client ID for verifying Google ID tokens
GOOGLE_CLIENT_ID=